@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova_regular.woff2') format('woff2'),
         url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}